@model TestReportProjectViewModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<h4>@Model.ProjectName</h4>
<form asp-controller="Project" asp-action="Report" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ProjectID" />
        <input type="submit" name="Action" value="Export" class="btn btn-primary" />
    </div>
</form>
<div>
    <h5>Project Summary</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled+Failed)/Total" style="cursor:pointer">
                    % Tested
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled)/Total" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.StartDate.HasValue)
                    {
                        <text>
                            @Model.StartDate.Value.ToString("yyyy/MM/dd")
                        </text>
                    }
                </td>
                <td>
                    @if (Model.EndDate.HasValue)
                    {
                        <text>
                            @Model.EndDate.Value.ToString("yyyy/MM/dd")
                        </text>
                    }
                </td>
                <td>
                    @Model.TestedPercentage%
                </td>
                <td>
                    @Model.DonePercentage%
                </td>
                <td>
                    @Model.Total
                </td>
                <td>
                    @Model.Passed
                </td>
                <td>
                    @Model.Canceled
                </td>
                <td>
                    @Model.Failed
                </td>
                <td>
                    @Model.Fixed
                </td>
                <td>
                    @Model.Pending
                </td>
                <td>
                    @Model.Open
                </td>
                <td>
                    @Model.Hold
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Model.PassedPercentage%
                </td>
                <td>
                    @Model.CanceledPercentage%
                </td>
                <td>
                    @Model.FailedPercentage%
                </td>
                <td>
                    @Model.FixedPercentage%
                </td>
                <td>
                    @Model.PendingPercentage%
                </td>
                <td>
                    @Model.OpenPercentage%
                </td>
                <td>
                    @Model.HoldPercentage%
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Scenario Summary</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Scenario
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled+Failed)/Total" style="cursor:pointer">
                    % Tested
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled)/Total" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByScenario)
            {
                <tr>
                    <td data-toggle="tooltip" title="Scenario" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <b>
                                @item.ScenarioName
                            </b>
                        }
                        else
                        {
                            @item.ScenarioName
                        }
                    </td>
                    <td data-toggle="tooltip" title="Start Date" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Start Date
                            </text>
                        }
                        @if (item.StartDate.HasValue)
                        {
                            <text>
                                @item.StartDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="End Date" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                End Date
                            </text>
                        }
                        @if (item.EndDate.HasValue)
                        {
                            <text>
                                @item.EndDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="% Tested = (Passed+Canceled+Failed)/Total" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Tested
                            </text>
                        }
                        @item.TestedPercentage%
                    </td>
                    <td data-toggle="tooltip" title="% Done = (Passed+Canceled)/Total" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Done
                            </text>
                        }
                        @item.DonePercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Total
                            </text>
                        }
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Passed
                            </text>
                        }
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Canceled
                            </text>
                        }
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Failed
                            </text>
                        }
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Fixed" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Fixed
                            </text>
                        }
                        @item.Fixed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Pending
                            </text>
                        }
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Open
                            </text>
                        }
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <text>
                                Hold
                            </text>
                        }
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Planned Date Daily</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th data-toggle="tooltip" title="(Fixed+Open)/Total" style="cursor:pointer">
                    % Current Workload
                </th>
                <th data-toggle="tooltip" title="(Failed+Fixed+Pending+Open+Hold)/Total" style="cursor:pointer">
                    % Up to End Workload
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDate)
            {
                <tr>
                    <td data-toggle="tooltip" title="Planned Date" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <b>
                                @item.PlannedDate.ToString("yyyy/MM/dd")
                            </b>
                        }
                        else
                        {
                            @item.PlannedDate.ToString("yyyy/MM/dd")
                        }
                    </td>
                    <td data-toggle="tooltip" title="Current Workload = (Fixed+Open)/Total" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Current Workload
                            </text>
                        }
                        @item.CurrentWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Up to End Workload = (Failed+Fixed+Pending+Open+Hold)/Total" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Up to End Workload
                            </text>
                        }
                        @item.UpToEndWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Total
                            </text>
                        }
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Passed
                            </text>
                        }
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Canceled
                            </text>
                        }
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Failed
                            </text>
                        }
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Fixed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Fixed
                            </text>
                        }
                        @item.Fixed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Pending
                            </text>
                        }
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Open
                            </text>
                        }
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Hold
                            </text>
                        }
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Planned Date Accumulation</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th data-toggle="tooltip" title="Running sum of Workload" style="cursor:pointer">
                    % Current Workload
                </th>
                <th data-toggle="tooltip" title="Running sum of Workload" style="cursor:pointer">
                    % Up to End Workload
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>

                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDateAccumulation)
            {
                <tr>
                    <td data-toggle="tooltip" title="Planned Date" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <b>
                                @item.PlannedDate.ToString("yyyy/MM/dd")
                            </b>
                        }
                        else
                        {
                            @item.PlannedDate.ToString("yyyy/MM/dd")
                        }
                    </td>
                    <td data-toggle="tooltip" title="Running sum of Current Workload" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Current Workload
                            </text>
                        }
                        @item.CurrentWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Running sum of Up to End Workload" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Up to End Workload
                            </text>
                        }
                        @item.UpToEndWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Total
                            </text>
                        }
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Passed
                            </text>
                        }
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Canceled
                            </text>
                        }
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Failed
                            </text>
                        }
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Fixed" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Fixed
                            </text>
                        }
                        @item.Fixed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Pending
                            </text>
                        }
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Open
                            </text>
                        }
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <text>
                                Hold
                            </text>
                        }
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Resource Summary</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tester Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th data-toggle="tooltip" title="Exclude today; Working (Fixed, Open); Pending (Failed, Fixed, Pending, Open, Hold)" style="cursor:pointer">
                    Remaining Working/ Pending/ Total Days
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled+Failed)/Total" style="cursor:pointer">
                    % Tested
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled)/Total" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TestReportByResourceSummary)
            {
                <tr>
                    <td data-toggle="tooltip" title="Tester Name" style="cursor:pointer">
                        @item.TesterName
                    </td>
                    <td data-toggle="tooltip" title="Start Date" style="cursor:pointer">
                        @if (item.StartDate.HasValue)
                        {
                            <text>
                                @item.StartDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="End Date" style="cursor:pointer">
                        @if (item.EndDate.HasValue)
                        {
                            <text>
                                @item.EndDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="Remaining Working/ Pending/ Total Days" style="cursor:pointer">
                        @item.RemainingWorkingDays/@item.RemainingPendingDays/@item.TotalPlannedDays
                    </td>
                    <td data-toggle="tooltip" title="% Tested = (Passed+Canceled+Failed)/Total" style="cursor:pointer">
                        @item.TestedPercentage%
                    </td>
                    <td data-toggle="tooltip" title="% Done = (Passed+Canceled)/Total" style="cursor:pointer">
                        @item.DonePercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Fixed" style="cursor:pointer">
                        @item.Fixed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Resource Workload Until @DateTime.Today.ToString("yyyy/MM/dd")</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tester Name
                </th>
                <th data-toggle="tooltip" title="Running sum of Workload" style="cursor:pointer">
                    % Current Workload
                </th>
                <th data-toggle="tooltip" title="Running sum of Workload" style="cursor:pointer">
                    % Up to End Workload
                </th>
                <th data-toggle="tooltip" title="Exclude today; Working (Fixed, Open); Pending (Failed, Fixed, Pending, Open, Hold)" style="cursor:pointer">
                    Remaining Working/ Pending/ Total Days
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled+Failed)/Total" style="cursor:pointer">
                    % Tested
                </th>
                <th data-toggle="tooltip" title="(Passed+Canceled)/Total" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Fixed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResourceWorkloadAccumulation)
            {
                <tr>
                    <td data-toggle="tooltip" title="Tester Name" style="cursor:pointer">
                        @item.TesterName
                    </td>
                    <td data-toggle="tooltip" title="Running sum of Current Workload" style="cursor:pointer">
                        @item.CurrentWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Running sum of Up to End Workload" style="cursor:pointer">
                        @item.UpToEndWorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Remaining Working/ Pending/ Total Days" style="cursor:pointer">
                        @item.RemainingWorkingDays/@item.RemainingPendingDays/@item.TotalPlannedDays
                    </td>
                    <td data-toggle="tooltip" title="% Tested = (Passed+Canceled+Failed)/Total" style="cursor:pointer">
                        @item.TestedPercentage%
                    </td>
                    <td data-toggle="tooltip" title="% Done = (Passed+Canceled)/Total" style="cursor:pointer">
                        @item.DonePercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Fixed" style="cursor:pointer">
                        @item.Fixed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>