@model TestReportProjectViewModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<h4>@Model.ProjectName</h4>
<br />
<div>
    <h5>Project summary</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th data-toggle="tooltip" title="(Passed+Failed)/(Passed+Failed+Pending+Open+Hold)" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.StartDate.HasValue)
                    {
                        <text>
                            @Model.StartDate.Value.ToString("yyyy/MM/dd")
                        </text>
                    }
                </td>
                <td>
                    @if (Model.EndDate.HasValue)
                    {
                        <text>
                            @Model.EndDate.Value.ToString("yyyy/MM/dd")
                        </text>
                    }
                </td>
                <td>
                    @Model.DonePercentage%
                </td>
                <td>
                    @Model.Total
                </td>
                <td>
                    @Model.Passed
                </td>
                <td>
                    @Model.Canceled
                </td>
                <td>
                    @Model.Failed
                </td>
                <td>
                    @Model.Pending
                </td>
                <td>
                    @Model.Open
                </td>
                <td>
                    @Model.Hold
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Model.PassedPercentage%
                </td>
                <td>
                    @Model.CanceledPercentage%
                </td>
                <td>
                    @Model.FailedPercentage%
                </td>
                <td>
                    @Model.PendingPercentage%
                </td>
                <td>
                    @Model.OpenPercentage%
                </td>
                <td>
                    @Model.HoldPercentage%
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Scenario</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Scenario
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th data-toggle="tooltip" title="(Passed+Failed)/(Passed+Failed+Pending+Open+Hold)" style="cursor:pointer">
                    % Done
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByScenario)
            {
                <tr>
                    <td data-toggle="tooltip" title="Scenario" style="cursor:pointer">
                        @if (item.StartDate <= DateTime.Today && DateTime.Today <= item.EndDate)
                        {
                            <b>
                                @item.ScenarioName
                            </b>
                        }
                        else
                        {
                            @item.ScenarioName
                        }
                    </td>
                    <td data-toggle="tooltip" title="Start Date" style="cursor:pointer">
                        @if (item.StartDate.HasValue)
                        {
                            <text>
                                @item.StartDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="End Date" style="cursor:pointer">
                        @if (item.EndDate.HasValue)
                        {
                            <text>
                                @item.EndDate.Value.ToString("yyyy/MM/dd")
                            </text>
                        }
                    </td>
                    <td data-toggle="tooltip" title="% Done = (Passed+Failed)/(Passed+Failed+Pending+Open+Hold)" style="cursor:pointer">
                        @item.DonePercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Planned Date</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th data-toggle="tooltip" title="(Pending+Open+Hold)/(Passed+Failed+Pending+Open+Hold)" style="cursor:pointer">
                    % Workload
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>
                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDate)
            {
                <tr>
                    <td data-toggle="tooltip" title="Planned Date" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <b>
                                @item.PlannedDate.ToString("yyyy/MM/dd")
                            </b>
                        }
                        else
                        {
                            @item.PlannedDate.ToString("yyyy/MM/dd")
                        }
                    </td>
                    <td data-toggle="tooltip" title="% Workload = (Pending+Open+Hold)/(Passed+Failed+Pending+Open+Hold)" style="cursor:pointer">
                        @item.WorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Planned Date Accumulation</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th data-toggle="tooltip" title="Running sum of % Workload" style="cursor:pointer">
                    % Workload
                </th>
                <th>
                    Total
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Canceled
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Open
                </th>

                <th>
                    Hold
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDateAccumulation)
            {
                <tr>
                    <td data-toggle="tooltip" title="Planned Date" style="cursor:pointer">
                        @if (item.PlannedDate.Date == DateTime.Today)
                        {
                            <b>
                                @item.PlannedDate.ToString("yyyy/MM/dd")
                            </b>
                        }
                        else
                        {
                            @item.PlannedDate.ToString("yyyy/MM/dd")
                        }
                    </td>
                    <td data-toggle="tooltip" title="Running sum of % Workload" style="cursor:pointer">
                        @item.WorkloadPercentage%
                    </td>
                    <td data-toggle="tooltip" title="Total" style="cursor:pointer">
                        @item.Total
                    </td>
                    <td data-toggle="tooltip" title="Passed" style="cursor:pointer">
                        @item.Passed
                    </td>
                    <td data-toggle="tooltip" title="Canceled" style="cursor:pointer">
                        @item.Canceled
                    </td>
                    <td data-toggle="tooltip" title="Failed" style="cursor:pointer">
                        @item.Failed
                    </td>
                    <td data-toggle="tooltip" title="Pending" style="cursor:pointer">
                        @item.Pending
                    </td>
                    <td data-toggle="tooltip" title="Open" style="cursor:pointer">
                        @item.Open
                    </td>
                    <td data-toggle="tooltip" title="Hold" style="cursor:pointer">
                        @item.Hold
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>