@model TestReportProjectViewModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>
<h4>@Model.ProjectName</h4>
<br />
<div>
    <h5>Test Report by Status</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Open
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Hold
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Number of Case
                </td>
                <td>
                    @Model.Passed
                </td>
                <td>
                    @Model.Failed
                </td>
                <td>
                    @Model.Open
                </td>
                <td>
                    @Model.Pending
                </td>
                <td>
                    @Model.Hold
                </td>
                <td>
                    @Model.Total
                </td>
            </tr>
            <tr>
                <td>
                    %
                </td>
                <td>
                    @Model.PassedPercentage
                </td>
                <td>
                    @Model.FailedPercentage
                </td>
                <td>
                    @Model.OpenPercentage
                </td>
                <td>
                    @Model.PendingPercentage
                </td>
                <td>
                    @Model.HoldPercentage
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Scenario</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Scenario
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Open
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Hold
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByScenario)
            {
                <tr>
                    <td>
                        @item.ScenarioName
                    </td>
                    <td>
                        @item.Passed
                    </td>
                    <td>
                        @item.Failed
                    </td>
                    <td>
                        @item.Open
                    </td>
                    <td>
                        @item.Pending
                    </td>
                    <td>
                        @item.Hold
                    </td>
                    <td>
                        @item.Total
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Planned Date</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Open
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Hold
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDate)
            {
                <tr>
                    <td>
                        @item.PlannedDate.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @item.Passed
                    </td>
                    <td>
                        @item.Failed
                    </td>
                    <td>
                        @item.Open
                    </td>
                    <td>
                        @item.Pending
                    </td>
                    <td>
                        @item.Hold
                    </td>
                    <td>
                        @item.Total
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <h5>Test Report by Planned Date Accumulation</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Planned Date
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Failed
                </th>
                <th>
                    Open
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Hold
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReportByPlannedDateAccumulation)
            {
                <tr>
                    <td>
                        @item.PlannedDate.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @item.Passed
                    </td>
                    <td>
                        @item.Failed
                    </td>
                    <td>
                        @item.Open
                    </td>
                    <td>
                        @item.Pending
                    </td>
                    <td>
                        @item.Hold
                    </td>
                    <td>
                        @item.Total
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>