@model Logiz.Radar.Data.Model.UserMappingProject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserMappingProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Project (*)</label>
                <select asp-for="ProjectID" class="form-control">
                </select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label> (*)
                <input asp-for="Username" list="users" autocomplete="off" class="form-control" />
                <datalist id="users">
                </datalist>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanWrite" class="control-label"></label> (*)
                <input asp-for="CanWrite" class="form-control" />
                <span asp-validation-for="CanWrite" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />

            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDateTime" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="UpdatedDateTime" />
            <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.CreatedBy)
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.CreatedDateTime)
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.UpdatedBy)
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.UpdatedDateTime)
                <span asp-validation-for="UpdatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var url = rootUrl + "Project/GetProjectSelectList?onlyCanWrite=true";
            $.getJSON(url, function (data) {
                var item = '<option value="">- Select a project -</option>';
                $("#ProjectID").empty();
                $.each(data, function (i, project) {
                    item += '<option value="' + project.value + '">' + project.text + '</option>'
                });
                $("#ProjectID").html(item);
                $("#ProjectID").val('@Model.ProjectID').change();;
            });
        });

        $(document).ready(function () {
            var url = rootUrl + "UserMappingProject/GetAssignedUserSelectList";
            $.getJSON(url, function (data) {
                var item = "";
                $("#users").empty();
                $.each(data, function (i, user) {
                    item += '<option value="' + user.value + '">' + user.text + '</option>'
                });
                $("#users").html(item);
            });
        });
    </script>
}
