@using Logiz.Radar.Data.Model
@model TestCaseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestCase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Project (*)</label>
                <select asp-for="ProjectID" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Scenario (*)</label>
                <select asp-for="ScenarioID" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Variant (*)</label>
                <select asp-for="TestCase.TestVariantID" class="form-control"></select>
                <span asp-validation-for="TestCase.TestVariantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestCaseName (*)</label>
                <textarea asp-for="TestCase.TestCaseName" class="form-control"></textarea>
                <span asp-validation-for="TestCase.TestCaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestCaseSteps (*)</label>
                <textarea asp-for="TestCase.TestCaseSteps" class="form-control"></textarea>
                <span asp-validation-for="TestCase.TestCaseSteps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ExpectedResult (*)</label>
                <textarea asp-for="TestCase.ExpectedResult" class="form-control"></textarea>
                <span asp-validation-for="TestCase.ExpectedResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.ActualResult" class="control-label"></label>
                <textarea asp-for="TestCase.ActualResult" class="form-control"></textarea>
                <span asp-validation-for="TestCase.ActualResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestStatus (*)</label>
                <select asp-for="TestCase.TestStatus" class="form-control"></select>
                <span asp-validation-for="TestCase.TestStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Note</label>
                <textarea asp-for="TestCase.Note" class="form-control"></textarea>
                <span asp-validation-for="TestCase.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TesterName (*)</label>
                <input asp-for="TestCase.TesterName" class="form-control" />
                <span asp-validation-for="TestCase.TesterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">PlannedDate (*)</label>
                <input asp-for="TestCase.PlannedDate" class="form-control" type="date" />
                <span asp-validation-for="TestCase.PlannedDate" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="TestCase.CreatedBy" />
            <input type="hidden" asp-for="TestCase.CreatedDateTime" />
            <input type="hidden" asp-for="TestCase.UpdatedBy" />
            <input type="hidden" asp-for="TestCase.UpdatedDateTime" />
            <input type="hidden" asp-for="TestCase.IsActive" />
            <div class="form-group">
                <label asp-for="TestCase.CreatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.CreatedBy)
                <span asp-validation-for="TestCase.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.CreatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.CreatedDateTime)
                <span asp-validation-for="TestCase.CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.UpdatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.UpdatedBy)
                <span asp-validation-for="TestCase.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.UpdatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.UpdatedDateTime)
                <span asp-validation-for="TestCase.UpdatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "/" + websiteAlias + "/Project/GetProjectSelectList?onlyCanWrite=true";
            $.getJSON(url, function (data) {
                var item = '<option value="">- Select a project -</option>';
                $("#ProjectID").empty();
                $.each(data, function (i, project) {
                    item += '<option value="' + project.value + '">' + project.text + '</option>'
                });
                $("#ProjectID").html(item)

                if ('@Model.ProjectID' != '') {
                    $("#ProjectID").val('@Model.ProjectID').change();
                }
                else if (data.length === 1) {
                    $("#ProjectID").val(data[0].value).change();
                }
            });
        });

        $("#ProjectID").change(function () {
            var projectId = $("#ProjectID").val();
            var url = "/" + websiteAlias + "/TestScenario/GetTestScenarioSelectList";
            $.getJSON(url, { ProjectId: projectId }, function (data) {
                var item = '<option value="">- Select a scenario -</option>';
                $("#ScenarioID").empty();
                $.each(data, function (i, scenario) {
                    item += '<option value="' + scenario.value + '">' + scenario.text + '</option>'
                });
                $("#ScenarioID").html(item).change();

                if ('@Model.ScenarioID' != '') {
                    $("#ScenarioID").val('@Model.ScenarioID').change();
                }
                else if (data.length === 1) {
                    $("#ScenarioID").val(data[0].value).change();
                }
            });
        });

        $("#ScenarioID").change(function () {
            setTimeout(loadVariant, 1)
        });

        function loadVariant() {
            var scenarioId = $("#ScenarioID").val();
            var url = "/" + websiteAlias + "/TestVariant/GetTestVariantSelectList";
            $.getJSON(url, { ScenarioId: scenarioId }, function (data) {
                var item = '<option value="">- Select a variant -</option>';
                $("#TestCase_TestVariantID").empty();
                $.each(data, function (i, variant) {
                    item += '<option value="' + variant.value + '">' + variant.text + '</option>'
                });
                $("#TestCase_TestVariantID").html(item);

                if ('@Model.TestCase.TestVariantID' != '') {
                    $("#TestCase_TestVariantID").val('@Model.TestCase.TestVariantID').change();
                }
                else if (data.length === 1) {
                    $("#TestCase_TestVariantID").val(data[0].value);
                }
            });
        }

        $(document).ready(function () {
            var url = "/" + websiteAlias + "/TestCase/GetTestStatusSelectList";
            $.getJSON(url, function (data) {
                var item = '';
                $("#TestCase_TestStatus").empty();
                $.each(data, function (i, testStatus) {
                    item += '<option value="' + testStatus.value + '">' + testStatus.text + '</option>'
                });
                $("#TestCase_TestStatus").html(item);
                $("#TestCase_TestStatus").val('@Model.TestCase.TestStatus');
            });
        });
    </script>
}
