@using Logiz.Radar.Data.Model
@model TestCaseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TestCase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TesterName" />
            <input type="hidden" asp-for="FromPlannedDate" />
            <input type="hidden" asp-for="ToPlannedDate" />
            <input type="hidden" asp-for="FromUpdatedDate" />
            <input type="hidden" asp-for="ToUpdatedDate" />
            <input type="hidden" asp-for="SearchTestStatus" />
            <div class="form-group">
                <label class="control-label">Project (*)</label>
                <select asp-for="ProjectID" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Scenario (*)</label>
                <select asp-for="ScenarioID" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Variant (*)</label>
                <select asp-for="TestCase.TestVariantID" class="form-control"></select>
                <span asp-validation-for="TestCase.TestVariantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestCaseName (*)</label>
                <textarea asp-for="TestCase.TestCaseName" class="form-control"></textarea>
                <span asp-validation-for="TestCase.TestCaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestCaseSteps (*)</label>
                <textarea asp-for="TestCase.TestCaseSteps" class="form-control"></textarea>
                <span asp-validation-for="TestCase.TestCaseSteps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ExpectedResult (*)</label>
                <textarea asp-for="TestCase.ExpectedResult" class="form-control"></textarea>
                <span asp-validation-for="TestCase.ExpectedResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.ActualResult" class="control-label"></label>
                <textarea asp-for="TestCase.ActualResult" class="form-control"></textarea>
                <span asp-validation-for="TestCase.ActualResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TesterName (*)</label>
                <input asp-for="TestCase.TesterName" class="form-control" />
                <span asp-validation-for="TestCase.TesterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">PlannedDate (*)</label>
                <input asp-for="TestCase.PlannedDate" class="form-control" type="date" />
                <span asp-validation-for="TestCase.PlannedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TestStatus (*)</label>
                <select asp-for="TestCase.TestStatus" class="form-control"></select>
                <span asp-validation-for="TestCase.TestStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Attachments</label>
                <input type="file" name="files" multiple>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            File Name
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Updated Datetime
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attachment in Model.TestCaseAttachments)
                    {
                        <tr>
                            <td><a asp-action="DownloadAttachment" asp-route-id="@attachment.ID"> @attachment.OriginalFileName</a></td>
                            <td>@attachment.UpdatedBy</td>
                            <td>@attachment.UpdatedDateTime</td>
                            <td><a asp-action="DeleteAttachment" asp-route-id="@attachment.ID" asp-route-TesterName="@Model.TesterName" asp-route-FromPlannedDate="@Model.FromPlannedDate" asp-route-ToPlannedDate="@Model.ToPlannedDate" asp-route-SearchTestStatus="@Model.SearchTestStatus" asp-route-FromUpdatedDate="@Model.FromUpdatedDate" asp-route-ToUpdatedDate="@Model.ToUpdatedDate">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" asp-for="TestCase.ID" />

            <input type="hidden" asp-for="TestCase.CreatedBy" />
            <input type="hidden" asp-for="TestCase.CreatedDateTime" />
            <input type="hidden" asp-for="TestCase.UpdatedBy" />
            <input type="hidden" asp-for="TestCase.UpdatedDateTime" />
            <input type="hidden" asp-for="TestCase.IsActive" />
            <div class="form-group">
                <label asp-for="TestCase.CreatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.CreatedBy)
                <span asp-validation-for="TestCase.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.CreatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.CreatedDateTime)
                <span asp-validation-for="TestCase.CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.UpdatedBy" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.UpdatedBy)
                <span asp-validation-for="TestCase.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCase.UpdatedDateTime" class="control-label"></label>:
                @Html.DisplayFor(model => model.TestCase.UpdatedDateTime)
                <span asp-validation-for="TestCase.UpdatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"
       asp-route-ProjectID="@Model.ProjectID"
       asp-route-ScenarioID="@Model.ScenarioID"
       asp-route-VariantID="@Model.TestCase.TestVariantID"
       asp-route-TesterName="@Model.TesterName"
       asp-route-FromPlannedDate="@Model.FromPlannedDate"
       asp-route-ToPlannedDate="@Model.ToPlannedDate"
       asp-route-TestStatus="@Model.SearchTestStatus"
       asp-route-FromUpdatedDate="@Model.FromUpdatedDate"
       asp-route-ToUpdatedDate="@Model.ToUpdatedDate">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            loadProject();
            loadTestStatus();
        });

        $("#ProjectID").change(function () {
            var projectId = $("#ProjectID").val();
            var url = rootUrl + "TestScenario/GetTestScenarioSelectList";
            $.getJSON(url, { ProjectId: projectId }, function (data) {
                var item = '<option value="">- Select a scenario -</option>';
                $("#ScenarioID").empty();
                $.each(data, function (i, scenario) {
                    item += '<option value="' + scenario.value + '">' + scenario.text + '</option>'
                });
                $("#ScenarioID").html(item);
                $("#ScenarioID").val('@Model.ScenarioID').change();
            });
        });

        $("#ScenarioID").change(function () {
            var scenarioId = $("#ScenarioID").val();
            var url = rootUrl + "TestVariant/GetTestVariantSelectList";
            $.getJSON(url, { ScenarioId: scenarioId }, function (data) {
                var item = '<option value="">- Select a variant -</option>';
                $("#TestCase_TestVariantID").empty();
                $.each(data, function (i, variant) {
                    item += '<option value="' + variant.value + '">' + variant.text + '</option>'
                });
                $("#TestCase_TestVariantID").html(item);
                $("#TestCase_TestVariantID").val('@Model.TestCase.TestVariantID').change();
            });
        });

        function loadProject () {
            var url = rootUrl + "Project/GetProjectSelectList?onlyCanWrite=true";
            $.getJSON(url, function (data) {
                var item = '<option value="">- Select a project -</option>';
                $("#ProjectID").empty();
                $.each(data, function (i, project) {
                    item += '<option value="' + project.value + '">' + project.text + '</option>'
                });
                $("#ProjectID").html(item);
                $("#ProjectID").val('@Model.ProjectID').change();
            });
        };

        function loadTestStatus () {
            var url = rootUrl + "TestCase/GetTestStatusSelectList";
            $.getJSON(url, function (data) {
                var item = '';
                $("#TestCase_TestStatus").empty();
                $.each(data, function (i, testStatus) {
                    item += '<option value="' + testStatus.value + '">' + testStatus.text + '</option>'
                });
                $("#TestCase_TestStatus").html(item);
                $("#TestCase_TestStatus").val('@Model.TestCase.TestStatus');
            });
        };
    </script>
}
