@using Logiz.Radar.Data.Model
@model IEnumerable<Logiz.Radar.Data.Model.TestCase>

@{
    ViewData["Title"] = "Index";
}

<h1>TestCase</h1>

<p>
    <a asp-action="Create">Create New</a> | <a asp-action="Import">Import</a>
</p>
<form asp-controller="TestCase" asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Input and Submit elements -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Project (*)</label>
                <select id="ProjectID" name="ProjectID" class="form-control" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Scenario</label>
                <select id="ScenarioID" name="ScenarioID" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Variant</label>
                <select id="VariantID" name="VariantID" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tester Name</label>
                <input id="TesterName" name="TesterName" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="control-label">From Planned Date</label>
                <input id="FromPlannedDate" name="FromPlannedDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label class="control-label">To Planned Date</label>
                <input id="ToPlannedDate" name="ToPlannedDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label class="control-label">Test Status</label>
                <select id="TestStatus" name="TestStatus" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" name="Action" value="Search" class="btn btn-primary" />
                <input type="submit" name="Action" value="Export" class="btn btn-primary" /> |
                @Model.Count() result(s)
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Variant
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestCaseSteps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestVariantID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestCaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestCaseSteps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TesterName)
                </td>
                <td>
                    @item.PlannedDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestStatus)
                </td>
                <td>
                    @if (ViewBag.CanWrite)
                    {
                        <text>
                            <a asp-action="Edit" asp-route-id="@item.ID" asp-route-TesterName="@ViewBag.TesterName" asp-route-FromPlannedDate="@ViewBag.FromPlannedDate" asp-route-ToPlannedDate="@ViewBag.ToPlannedDate" asp-route-SearchTestStatus="@ViewBag.TestStatus">Edit</a> | 
                            <a asp-action="View" asp-route-id="@item.ID" asp-route-TesterName="@ViewBag.TesterName" asp-route-FromPlannedDate="@ViewBag.FromPlannedDate" asp-route-ToPlannedDate="@ViewBag.ToPlannedDate" asp-route-SearchTestStatus="@ViewBag.TestStatus">Details</a> | 
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </text>
                    }
                    else
                    {
                        <text>
                            <a asp-action="Details" asp-route-id="@item.ID" asp-route-TesterName="@ViewBag.TesterName" asp-route-FromPlannedDate="@ViewBag.FromPlannedDate" asp-route-ToPlannedDate="@ViewBag.ToPlannedDate" asp-route-SearchTestStatus="@ViewBag.TestStatus">Details</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var url = rootUrl + "Project/GetProjectSelectList";
            $.getJSON(url, function (data) {
                var item = '<option value="">- Select a project -</option>';
                $("#ProjectID").empty();
                $.each(data, function (i, project) {
                    item += '<option value="' + project.value + '">' + project.text + '</option>'
                });
                $("#ProjectID").html(item)
                $("#ProjectID").val('@ViewBag.ProjectID').change();
            });
        });

        $("#ProjectID").change(function () {
            var projectId = $("#ProjectID").val();
            var url = rootUrl + "TestScenario/GetTestScenarioSelectList";
            $.getJSON(url, { ProjectId: projectId }, function (data) {
                var item = '<option value="">- Select a scenario -</option>';
                var itemCodeList = [];
                $("#ScenarioID").empty();
                $.each(data, function (i, scenario) {
                    item += '<option value="' + scenario.value + '">' + scenario.text + '</option>';
                    itemCodeList[i] = scenario.value;
                });
                $("#ScenarioID").html(item).change();
                if (data.length > 0 && itemCodeList.includes('@ViewBag.ScenarioID')) {
                    $("#ScenarioID").val('@ViewBag.ScenarioID').change();
                }
            });
        });

        $("#ScenarioID").change(function () {
            setTimeout(loadVariant, 1)
        });

        function loadVariant() {
            var scenarioId = $("#ScenarioID").val();
            var url = rootUrl + "TestVariant/GetTestVariantSelectList";
            $.getJSON(url, { ScenarioId: scenarioId }, function (data) {
                var item = '<option value="">- Select a variant -</option>';
                var itemCodeList = [];
                $("#VariantID").empty();
                $.each(data, function (i, variant) {
                    item += '<option value="' + variant.value + '">' + variant.text + '</option>';
                    itemCodeList[i] = variant.value;
                });
                $("#VariantID").html(item);
                if (data.length > 0 && itemCodeList.includes('@ViewBag.VariantID')) {
                    $("#VariantID").val('@ViewBag.VariantID');
                }
            });
        }

        $(document).ready(function () {
            var url = rootUrl + "TestCase/GetTestStatusSelectList";
            $.getJSON(url, function (data) {
                var item = '<option value="">- Select a status -</option>';
                $("#TestStatus").empty();
                $.each(data, function (i, project) {
                    item += '<option value="' + project.value + '">' + project.text + '</option>'
                });
                $("#TestStatus").html(item);
                $("#TestStatus").val('@ViewBag.TestStatus');
            });
            $("#TesterName").val('@ViewBag.TesterName');
            $("#FromPlannedDate").val('@ViewBag.FromPlannedDate');
            $("#ToPlannedDate").val('@ViewBag.ToPlannedDate');
        });
    </script>
}
